#container_div {
    width: 500px;
}

#test_div {
    border-color: black;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    width: 40vh;
    max-width: 500px;
    height: 40vh;
    max-height: 500px;
    background-color: bisque;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;


}

#dividing_line_0dg {
    width: 5px;
    height: 100%;
    background-color: black;
    margin-left: 50%;
    position: absolute;
}

#dividing_line_45dg {
    width: 5px;
    height: 100%;
    background-color: black;
    transform: rotate(45deg);
    margin-left: 50%;
    position: absolute;
}

#dividing_line_90dg {
    width: 5px;
    height: 100%;
    background-color: black;
    transform: rotate(90deg);
    margin-left: 50%;
    position: absolute;
}

#dividing_line_135dg {
    width: 5px;
    height: 100%;
    background-color: black;
    transform: rotate(135deg);
    margin-left: 50%;
    position: absolute;
}

#spinner {
    width: 10px;
    height: 95%;
    background-color: black;
    margin: auto;
}

.spin_animation {
    animation-name: spin;
    animation-duration: 1s;
    
}

@keyframes spin {
    from {}
    to {transform: rotate(360deg);}
}


body {
    background-color: rgb(64, 177, 177);
}