:root {
    --mock_screen_width: 500px;
}

#mock_phone_screen {
    width: var(--mock_screen_width);
    position: relative;
}

#display_song_div {
    --self_width: 70vw;
    --self_max_width: 400px;
    background-color: rgb(174, 231, 237);
    border: 5px solid black;
    border-radius: 10%;
    width: 70vw;
    max-width: 400px;
    height: 15vh;
    display: none;
    position: absolute;
    top: 25%;
    margin-left: max(
                calc((var(--mock_screen_width) - var(--self_max_width)) / 2),
                calc((var(--mock_screen_width) / 2) - (var(--self_width) / 2))
                );
}

#input_div {
    --self_width: 50vw;
    --self_max_width: 400px;
    background-color: rgb(216, 235, 235);
    border: 5px solid black;
    border-radius: 10%;
    width: var(--self_width);
    height: 30vh;
    max-width: var(--self_max_width);
    max-height: 300px;
    position: absolute;
    display: none;
    top: 20%;
    margin-left: max(
                calc((var(--mock_screen_width) - var(--self_max_width)) / 2),
                calc((var(--mock_screen_width) / 2) - (var(--self_width) / 2))
                );
    
}

.close_button {
    background-color: rgb(192, 174, 174);
    border-radius: 50%;
    border: 2px solid gray;
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 5%;
    margin-left: calc(100% - 40px);
}

#song_input_label {
    display: block;
    position: relative;
    width: fit-content;
    position: relative;
    margin: auto;
}

#song_input {
    border: 2px solid black;
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
}

#submission_form {
    position: relative;
    width: 50%;
    margin: auto;
    top: 30%;
}

#container_div {
    width: var(--mock_screen_width);
}

#spinner {
    border-color: black;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    width: 40vh;
    max-width: var(--mock_screen_width);
    height: 40vh;
    max-height: 500px;
    background-color: rgb(228, 174, 109);
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;


}

.dividing_line {
    --line_width: 5px;
    width: var(--line_width);
    height: 100%;
    background-color: black;
    position: absolute;
    margin-left: 50%;
    translate: calc(-1 * (var(--line_width)/2));
}



#dividing_line_45dg {

    transform: rotate(45deg);
    
}

#dividing_line_90dg {

    transform: rotate(90deg);
    
}

#dividing_line_135dg {
    
    transform: rotate(135deg);
    
}

#needle {
    width: 10px;
    height: 95%;
    background-color: black;
    margin: auto;
}



body {
    background-color: rgb(64, 177, 177);
}