<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main_page_style.css')}}"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/> 
    <script src="{{url_for('static', filename='main_page_script.js')}}"></script>
</head>

<body>
    <p id="myp">This is my webpage</p>
    <div id="mock_phone_screen">
        <div id="container_div">
            <div id="spinner">
                <div id="dividing_line_0dg" class="dividing_line"></div>
                <div id="dividing_line_45dg" class="dividing_line"></div>
                <div id="dividing_line_90dg" class="dividing_line"></div>
                <div id="dividing_line_135dg" class="dividing_line"></div> 
                <div id="needle"></div>
            </div>
        </div>

        <button id="input_button" onclick="show_div('input_div')">Submit song</button>
        <button id="temp_button" onclick="show_song_div_temp()">show div</button>
        
        <div id="input_div">
            <button id="input_div_close" class="close_button"></button>
            <form id="submission_form" onsubmit="submit_song();return false;">
                <label id="song_input_label">Enter a song</label>
                <input type="text" id="song_input">
            </form>
        </div>

        <div id="display_song_div">
            <button id="display_div_close" class="close_button" ></button>
            <p id="song_text"></p>
        </div>

        
    </div>


</body>