<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main_page_style.css')}}"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/> 
    <script src="{{url_for('static', filename='main_page_script.js')}}"></script>
</head>

<body>
    <p id="myp">This is my webpage</p>
    <div id="testdiv">
        <!-- <div id="spinner">

        </div> -->
       
    </div>
    <button onclick="add_animation_class()">click me</button>


</body>