<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='main_page_style.css')}}"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/> 
    <script src="{{url_for('static', filename='main_page_script.js')}}"></script>
</head>

<body>
    <p id="myp">This is my webpage</p>
    <div id="container_div">
        <div id="spinner">
            <div id="dividing_line_0dg" class="dividing_line"></div>
            <div id="dividing_line_45dg" class="dividing_line"></div>
            <div id="dividing_line_90dg" class="dividing_line"></div>
            <div id="dividing_line_135dg" class="dividing_line"></div> 
            <div id="needle">

            </div>
        
        </div>
    </div>


</body>